.button {
    align-self: flex-end;
    border: 3px solid #757575;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

.button-checked {
    background: #757575;
    font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1439px) {
    .button {
        bottom: 0;
        width: 9px;
        height: 9px;
        margin-bottom: 30px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .button {
        margin-bottom: 40px;
    }
}