.control__content {
    max-width: 1498px;
    margin: auto;
    display: flex;
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .control__content {
        max-width: 1140px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .control__content {
        max-width: 824px;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .control__content {
        max-width: 570px;
        flex-direction: column;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .control__content {
        max-width: 288px;
        flex-direction: column;
    }
}