.possibility__description {
    max-width: 257px;
    margin: 0;
    margin-left: 24px;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    color: #212121;
    letter-spacing: 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .possibility__description {
        width: 186px;
        height: 45px;
        line-height: 25px;
        font-family: 'Helvetica';
        font-size: 16px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .possibility__description {
        display: flex;
        align-items: center;
        line-height: 18px;
        margin-left: 35px;
    }
}