.intro__button-ios::after {
    content: 'iOS';
    font-family: 'Helvetica';
    font-size: 24px;
    color: #757575;
    letter-spacing: 0;
    text-align: center;
    padding-top: 20px;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .intro__button-ios::after {
        font-size: 16px;
    }
}