.possibilities__possible {
    margin-top: 51px;
    display: grid;
    grid-template-columns: 346px 346px 346px 346px;
    grid-template-rows: 64px 64px;
    grid-gap: 40px;
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .possibilities__possible {
        grid-template-columns: 250px 250px 250px 250px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .possibilities__possible {
        margin-top: 30px;
        grid-template-columns: 346px 346px;
        grid-template-rows: 64px 64px 64px 64px;
        grid-row-gap: 10px;
        grid-column-gap: 130px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .possibilities__possible {
        margin-top: 30px;
        grid-template-columns: 251px 251px;
        grid-template-rows: 45px 45px 45px 45px;
        grid-row-gap: 30px;
        grid-column-gap: 49px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .possibilities__possible {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 45px);
        grid-gap: 20px;
        margin-top: 20px;
    }
}