.intro__button-android::after {
    content: 'Android';
    font-family: 'Helvetica';
    font-size: 24px;
    color: #757575;
    letter-spacing: 0;
    text-align: center;
    padding-top: 20px;
}

@media (min-width: 320px) and (max-width: 1439px) {
    .intro__button-android::after {
        font-size: 16px;
    }
}