.intro__android {
    width: 230px;
    position: absolute;
    top: 55px;
    right: 170px;
    transition: top 1s, right 2s, width 1s;
    
    transition-timing-function: ease-in-out;
}

.intro__android-dis {
    width: 293px;
    top: 0;
    right: 0;
    transition: top 1s,right 2s, width 1s;
    transition-timing-function: ease-in-out;
}


@media (min-width: 768px) and (max-width: 1439px) {
    .intro__android {
        width: 153px;
        top: 16px;
    }
    .intro__android-dis {
        width: 177px;
        top: 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .intro__android {
        width: 151px;
        top: 25px;
    }
    .intro__android-dis {
        width: 181px;
        right: 5px;
        top: 0;
    }
}