.possibilities__back {
    position: absolute;
    width: 365px;
    top: 280px;
    left: -9px;
}

@media (min-width: 320px) and (max-width: 1439px) {
    .possibilities__back {
        display: none;
    }
}